<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>#{get 'title' /}</title>
<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/layui/css/layui.css'}" />
<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/layui/css/layui.mobile.css'}" />

<script src="@{'/public/layui/layui.all.js'}" type="text/javascript"></script>
<script src="@{'/public/layui/layui.js'}" type="text/javascript"></script>
</head>
<body>
<section id="main"> #{doLayout /}
</section>
</body>
</html>
