<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>管理界面 : 箱子配置数据</title>
<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/layui/css/layui.css'}" />
<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/layui/css/layui.mobile.css'}" />
</head>

<div class="demoTable">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class="layui-btn" id="buttonClick1" >添加数据</button>
</div>


<table lay-filter="test-table-height" class="layui-table" id="test"></table>

<script src="@{'/public/layui/layui.all.js'}" type="text/javascript"></script>

 <script>
 var $;
 layui.use('jquery', function(){ 
	 $ = layui.$ //重点处
 });  
 
 $("#buttonClick1").click(function(){
	$("#updateDiv1").text('添加');
   	$("#id").attr("value","");
    $("#money").attr("value","");
    $("#all_count").attr("value","");
   	layer.open({
         type: 1,
         title: "添加信息",
         area: ['620px', '630px'],
         content: $("#popUpdateTest")//引用的弹出层的页面层的方式加载修改界面表单
     });
});
 
 
layui.use('table', function(){
  var table = layui.table;
  table.render({
    elem: '#test'
    ,url:'/mastBox'
    ,cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
    ,parseData: function(res){ //res 即为原始返回的数据
        return {
          "code": res.code, //解析接口状态
          "msg": res.msg, //解析提示文本
          "count": res.count, //解析数据长度
          "data": res.listMastBox //解析数据列表
        };
      }
  ,limit:10
  ,page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
      layout: ['count', 'prev', 'page', 'next', 'skip'] //自定义分页布局
      ,first: false //不显示首页
      ,last: false //不显示尾页
      
    }
    ,cols: [[
      {field:'id', width:80, title: 'ID', sort: true}
     ,{field:'all_count', title: '箱子数量'}
      ,{field:'money', title: '箱子金币'}
      ,{field:'操作', title: '操作', toolbar: '#barDemo'}
    ]]
  });
  

//监听工具条
  table.on('tool(test-table-height)', function(obj){ //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
    var data = obj.data; //获得当前行数据
    var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
    var tr = obj.tr; //获得当前行 tr 的DOM对象
    
    if(layEvent === 'del'){ //删除
      layer.confirm('真的删除行么', function(index){
        layer.close(index);
        //向服务端发送删除指令
        $.ajax({
  	      url:"/deleteMastBox",
  	   	  type: "GET",
  	      data:{pkId:data.id},
  	      success:function(data){
  	    	obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
  	      }
  	    });
      });
    }  else if(layEvent === 'edit'){ //编辑
      //do something
      $("#id").attr("value",data.id);
      $("#all_count").attr("value",data.all_count);
      $("#money").attr("value",data.money);
      //$("#content").text(data.content);
       layer.open({
          type: 1,
          title: "修改信息",
          area: ['420px', '330px'],
          content: $("#popUpdateTest")//引用的弹出层的页面层的方式加载修改界面表单
        });
    }
  });
  
  
});

</script>

<script type="text/html" id="barDemo">
  <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</a>
  <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
</script>


<div class="layui-row" id="popUpdateTest" style="display:none;">
    <div class="layui-col-md10">
        <form class="layui-form layui-from-pane" action="" style="margin-top:20px" >
        <input id="id" name="id" type="hidden">
            <div class="layui-form-item">
                <label class="layui-form-label">箱子数量</label>
                <div class="layui-input-block">
                    <input type="text" id="all_count" name="all_count"  required  lay-verify="required" autocomplete="off" placeholder="请输入箱子数量" class="layui-input">
                </div>
            </div>
            
            <div class="layui-form-item">
                <label class="layui-form-label">箱子金币</label>
                <div class="layui-input-block">
                    <input type="text" id="money" name="money"  required  lay-verify="required" autocomplete="off" placeholder="请输入箱子金币" class="layui-input">
                </div>
            </div>
            

            <div class="layui-form-item" style="margin-top:40px">
                <div class="layui-input-block">
                <button class="layui-btn layui-btn-fluid" lay-submit="" lay-filter="updateDiv1" id="updateDiv1" >修改</button>
                   <!-- <button type="reset" class="layui-btn layui-btn-primary">重置</button> --> 
                </div>
            </div>
        </form>
    </div>
</div>


<script >
layui.use(['form'], function () {
	var form = layui.form;
	form.on('submit(updateDiv1)', function(data) {
	      $.ajax({
	          url:'/updateMastBox',
	          type:'POST',
	          data:{id:data.field.id , all_count:data.field.all_count , money:data.field.money},
	          success:function (msg) {
	         	 obj.update({
	         		all_count:data.field.all_count,
	              	money:data.field.money
	             });//修改成功修改表格数据不进行跳转
	             layer.closeAll();//关闭所有的弹出层
	          }
	      })
	  })
});
</script>

